$color-brand-1: rgb(85,114,176);
$color-brand-2: rgba(29,35,49,1);
$color-brand-3: rgba(75,92,125,1);
$color-transparent: rgba(29, 35, 49, 0.600);
$color-black: rgba(0,0,0,1);
$color-white: rgba(255,255,255,1);
$color-grey-1: rgba(11,13,13,1);
$color-grey-2: rgba(33,37,41,1);
$color-grey-3: rgba(73,80,87,1);
$color-grey-4: rgba(173,181,189,1);
$color-grey-5: rgba(222,226,230,1);
$color-grey-6: rgba(233,236,239,1);

$text-font-stack: "Inter, Roboto, Arial, sans-serif";

@mixin text-style-font-0() {
	font-size: 0.625rem;
	font-family: "Inter";
	font-weight: 300;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
};
@mixin text-style-font-2() {
	font-size: 0.75rem;
	font-family: "Inter";
	font-weight: 300;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
};
@mixin text-style-font-3() {
	font-size: 0.8125rem;
	font-family: "Inter";
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
};
@mixin text-style-font-4() {
	font-size: 0.875rem;
	font-family: "Inter";
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
};
@mixin text-style-font-5() {
	font-size: 0.875rem;
	font-family: "Inter";
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
};
@mixin text-style-font-6() {
	font-size: 1rem;
	font-family: "Inter";
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
};
@mixin text-style-font-7() {
	font-size: 1.25rem;
	font-family: "Inter";
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
};
@mixin text-style-font-8() {
	font-size: 1rem;
	font-family: "Inter";
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
};
@mixin text-style-font-9() {
	font-size: 32px;
	font-family: "Inter";
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
};
@mixin text-style-font-10() {
	font-size: 18px;
	font-family: "Inter";
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
};
