@use 'abstracts' as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
};

.container > h2 {
    margin-bottom: 20px;
};

.container > p {
    margin-bottom: 20px;
    text-align: center;
    
    @media (max-width: 1279px) {
        max-width: 580px;
    };
    
    @media (min-width: 1280px) {
        max-width: 800px;
    };
};

.button__instagram {
    border: none;
    margin-bottom: 50px;
};

.buttons__contacts__area {
    padding: 10px 10px;
    max-width: 200px;
    max-height: 60px;
    cursor: pointer;
    border: none;
    background-color: $color-brand-1;    
    color: $color-white;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
};