@use 'abstracts' as *;

.container {    
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media (max-width: 1279px) {
        width: 100%;
        margin: 20px auto;
    };

    @media (min-width: 1280px) {
        // height: 100%;
        margin: auto 30px;
        flex-direction: column;        
        // padding: 15px 16px;
        // transition: 0.8s ease-out;
    };
};
