@use 'abstracts' as *;

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1.25rem auto;
    padding: 0 3.125rem;
};

.nav__container {
    @media (max-width: 40.625rem) {
        display: none;
    };
    @media (min-width: 40.6875rem) {
        display: flex;
        align-items: center;
        gap: 1rem;
    };
};

.nav__container__hamburguer {
    @media (max-width: 40.625rem) {};
};

.nav__container > a {
    @include text-style-font-6;
    color: $color-brand-1;
};

.nav__container > a:hover {    
    text-decoration: underline;
};
