@use 'abstracts' as *;

.nav__container {
    @media (max-width: 750px) {
        display: none;        
    };
    @media (min-width: 751px) {
        display: flex;
        align-items: center;
        gap: 1rem;
    };
};

.nav__container > a {
    @include text-style-font-6;
    color: $color-white;
};

.nav__container > a:hover {    
    text-decoration: underline;
};

.button__hamburguer {
    @media (max-width: 750px) {        
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    @media (min-width: 751px) {
        display: none;
    };
};
